#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  .btn-edit {
    height: 28px;
    width: 28px;
    color:orangered;
    outline: none;
    background: transparent;
    border:none;
    &:hover{
        background-color:transparent !important;
        color:rgb(55, 0, 255) !important;
    }
  }
  .btn-delete {
    color:red;
    outline:none !important;
    border:none !important;
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background:transparent;
   &:hover{
    background-color:transparent !important;
    color:rgb(55, 0, 255) !important;
   }
  
  }
.modal-user-container{
    .modal-content{
        .modal-header{
            button{
                background-color: transparent;
                color: white;
                border:none;
                font-size:28px;

            }
        }
    }
    

    

    
    .modal-user-body{
        display:flex;
        gap:15px;
        flex-wrap: wrap;
       
        .input-container{
            display: flex;
            flex-direction: column;
            width:49%;
    
            &.max-width-input{
                width:100%;
            }
            input{
                border-radius: 3px;
                border: 1px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }
    }
   